body{
    background-color: transparent;
    padding:  -0%;
    margin: -0%;
    display: grid;
    grid-column: 2;
    color: rgb(214, 220, 224);

}
h1, h2, h3 , h4, h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
}
#Presentacion{
    background-color: rgb(85, 104, 49);
    padding: 0px;
    margin: 0px;
    height: max-content;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
#Presentacion img{
    padding: 2px;
}
#Informacion{
    background-color: rgb(27, 54, 54);
    height: max-content;
}

